Imports

In [2]:
import pandas as pd 
import numpy as np

Read data frame

In [3]:
file = 'Data/PNS_2019.txt'

def encodeCol(col, len):
  col = col -1
  return (col, col + len)

colunas_dict = {
    #Indentificacao e Controle
    'id_uf': [1, 2],
    'tipo_situacao_censitaria':[31,1],
    #'referencia': [25, 4],
    #'moradores': [29, 2],
    #Questionario do Morador (Caracteristica Gerais)
    #'sexo': [108, 1],
    #'raca': [120, 1],
    #Atividade Sexual
    'orientacao_sexual': [1304, 1],
    }

col_names = list(colunas_dict.keys())
col_specs = [encodeCol(colunas_dict[i][0], colunas_dict[i][1]) for i in list(colunas_dict.keys())]

df_raw = pd.read_fwf(file, colspecs = col_specs, names = col_names)

In [4]:
df_nao_hetero = df_raw.loc[(df_raw["orientacao_sexual"] != 1) & (df_raw["orientacao_sexual"] != 6)]
df_nao_hetero = df_nao_hetero.dropna(subset=['orientacao_sexual'])
df_nao_hetero

        id_uf  tipo_situacao_censitaria  orientacao_sexual
56         11                         1                3.0
76         11                         1                5.0
286        11                         1                2.0
445        11                         1                3.0
470        11                         1                3.0
...       ...                       ...                ...
293389     53                         2                5.0
293456     53                         2                3.0
293516     53                         2                5.0
293547     53                         2                2.0
293650     53                         2                5.0

[2403 rows x 3 columns]